{% extends 'layout.html.twig' %}
{% block content %}
<div class="main-content" id="category-page">
    {{ pimcore_areablock("bannerBig", {
        "allowed": ["random-banner"]
    }) }}

    <div class="article-slider">
        <div class="arrows">
            <img class='a-left control-c prev slick-prev' id="article-slider-prev" src='/static/img/icons/whiteArrow.png' alt="Previous arrow">
            <img class='a-right control-c next slick-next' id="article-slider-next" src='/static/img/icons/whiteArrow.png' alt="Next arrow">
        </div>
        {% for article in carousell %}
        <div class="artcle">
            <img class="slider-image" src="{{ article.getFeaturedImage().getThumbnail("tst") }}" alt="Slider image" />
            <div class="image-info">
                <div class="article-info">
                    <div class="article-date">{{ article.getPublishDate|date("F d, Y") }}</div>
                    <div class="article-comments"><img src="/static/img/icons/comment.png" alt="Number of comments" /> {{ article.getComments|length }} Comments</div>
                </div>
                <h1>{{ article.getTitle }}</h1>
                <a class="article-link" href="{{ path(article) }}">Read article</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="center-articles">
        <div class="main-articles">
            <div class="category-articles">
                <h1 class="category-title">{{ category.getTitle }}</h1>
                {% for post in posts.getCurrentItems() %}
                <div class="category-article">
                    <h2 class="title">{{ post.getTitle() }}</h2>
                    <div class="data">
                        <div class="date"><img src="/static/img/calendar.png" alt="Calendar" /><div class="dat">{{ post.getPublishDate()|date('F j, Y') }}</div></div>
                        <div class="author">{{ post.author.getFirstName() }} {{ post.author.getLastName }}</div>
                        <div class="comments">{{ post.comments|length }} Comments</div>
                    </div>
                    <div class="body">
                        <img src="{{ post.getFeaturedImageSmall().getThumbnail('categoryPostImage') }}" alt="Article image" />
                        <div class="text-button">
                            <div class="text">
                                {{ post.getContent()|slice(0, 500)|raw}} {% if post.getContent|raw|length > 500 %}...{% endif %}
                            </div>
                            <a href="{{ path(post) }}">Read article</a>
                        </div>
                    </div>
                </div>
                <hr class="category-hr" />
                {% endfor %}
                <div class="page-numbers">
                      <ul>
                        {% for i in range(1, posts.pageRange) %}
                        <li><a href="{{ "#{path(category)}?page=#{i}" }}" {% if posts.currentPageNumber == i %}class="active"{% endif %} >{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ pimcore_areablock("bannerBig2", {
                "allowed": ["random-banner"]
            }) }}
        </div>
        {{ pimcore_inc('/snippets/aside') }}
    </div>
</div>
{{ pimcore_inc('/snippets/video-testemonial') }}
{% endblock %}