{% extends 'layout.html.twig' %}
{% block head %}
    {% if view.editmode %}
        {{parent()}}
    {% endif %}
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}

{% if view.editmode %}
<div class="testemonials-edit">
    {% for el in array %}
    <div class="video-testemonial tab-{{ loop.index  }} z-ind-{{ loop.index }}">
        <p>{{ el.getDescription("en")|truncate(35, '...') }}</p>
        <div class="video">
            
            <video autoplay muted loop class="testemonial-video">
                <source src="{{ el.getVideo().getData()|raw }}">
            </video>
            <div class="buttons">
                <button class="video-play-button"><i class="material-icons-two-tone">play_circle</i></button>
            </div>
            <div class="about">
                <img src="{{ el.getAuthor().getProfileImage().getThumbnail('authorImageTestemonial') }}" alt="Author image" />
                <div class="author-info">
                    <div class="name">
                        <span>Answered by:</span>
                        {{ el.getAuthor().getFirstName() }}
                    </div>
                    <div class="job-title">Job title</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="testemonials">
    {% for el in array %}
    <div class="video-testemonial tab-{{ loop.index  }} z-ind-{{ loop.index }}">
        <p>{{ el.getDescription("en")|truncate(35, '...') }}</p>
        <div class="video">
            <video {% if loop.index == 1 %}autoplay{% endif %} muted loop class="testemonial-video">
                <source src="{{ el.getVideo().getData()|raw }}">
            </video>
            <div class="buttons">
                <button class="video-play-button"><i class="material-icons-two-tone">play_circle</i></button>
            </div>
            <div class="about">
                <img src="{{ el.getAuthor().getProfileImage().getThumbnail('authorImageTestemonial') }}" alt="Author image" />
                <div class="author-info">
                    <div class="name">
                        <span>Answered by:</span>
                        {{ el.getAuthor().getFirstName() }}
                    </div>
                    <div class="job-title">Job title</div>
                </div>
            </div>
        </div>
    </div>
    <div class="video-testemonial-modal out">
        <div class="modal-content">
            <button class="close modal-close"><i class="material-icons">close</i></button>
            <h3 class="description">
                {{ el.getDescription("en") }}
            </h3>
            <div class="content">
                <video controls autoplay class="modal-video">
                    <source src="{{ el.getVideo().getData()|raw }}">
                </video>
            </div>
            <div class="author">
                <img src="{{ el.getAuthor().getProfileImage().getThumbnail('authorImageTestemonialBigger') }}" alt="Author image" />
                <div class="author-info">
                    <div class="name">
                        {{ el.getAuthor().getFirstName() }}
                        {{ el.getAuthor().getLastName() }}
                    </div>
                    <div class="job-title">Job title</div>
                </div>
            </div>
            <div class="modal-tags">
                <div class="tag-pill">Neki tag</div>
                <div class="tag-pill">Neki baš dugačak tag</div>
                <div class="tag-pill">Još jedan tag</div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block headscripts deferred %}
{% endblock %}