<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/css/main.css" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Varela+Round&family=Bitter:wght@700&family=Varela&display=swap" rel="stylesheet">

    {% if document.type != "snippet" %}
        {% if pimcore_head_title().count() == 0 %}
            {% if document and document.getTitle() is not empty %}
                {% do pimcore_head_title().set(document.getTitle()) %}
            {% endif %}
        {% endif %}

        {% if document.getDescription() is not empty %}
            {% do pimcore_head_meta().setDescription(document.getDescription()) %}
        {% endif %}
    {% endif %}

    {% block layout_head_meta %}
        {{ pimcore_head_title() }}
        {{ pimcore_head_meta() }}

        {% if pimcore_placeholder('canonical').count() %}
            <link rel="canonical" href="{{ pimcore_placeholder('canonical') }}"/>
        {% endif %}
    {% endblock %}

    {% block head_stylesheets %}
        {{ pimcore_head_link() }}
    {% endblock %}
{% endblock %}
</head>
<body>
{% block navigation %}
    {{ pimcore_inc('/snippets/header') }}
{% endblock %}
    {% block content %}
    {% endblock %}

{% block footer %}
    {{ pimcore_inc('/snippets/footer') }}
{% endblock %}

{{ pimcore_inc(document.getProperty('cookieBar')) }}

{% block headscripts deferred %}
    {% do pimcore_head_script().captureStart %}
        var language = '{{ document.getProperty('language') }}';
    {% do pimcore_head_script().captureEnd %}
    {% do pimcore_head_script().appendFile(asset('static/js/main.js')) %}
    {{ pimcore_head_script() }}
{% endblock %}
</body>
</html>
