{% extends 'layout.html.twig' %}
{% block content %}
<div class="main-content" id="home-page">
    {{ pimcore_areablock("bannerBig", {
        "allowed": ["random-banner"]
    }) }}
    {{ pimcore_areablock("articleSlider", {
        "allowed": ["article-slider"]
    }) }}
    <div class="center-articles">
        <div class="main-articles">
            {{ pimcore_areablock("newsArticles", {
                "allowed": ["news"]
            }) }}
            {{ pimcore_areablock("sportArticles", {
                "allowed": ["news"]
            }) }}
            {{ pimcore_areablock("bannerMedium1", {
                "allowed": ["random-banner"]
            }) }}
            {{ pimcore_areablock("businessArticles", {
                "allowed": ["news"]
            }) }}
            {{ pimcore_areablock("bannerMedium2", {
                "allowed": ["random-banner"]
            }) }}
            {{ pimcore_areablock("news-carousel", {
                "allowed": ["news-carousel"]
            }) }}
            <div class="single-carousels">
                {{ pimcore_areablock("news-carousel-editorials", {
                    "allowed": ["news-carousel-editorials"]
                }) }}
                {{ pimcore_areablock("news-carousel-local-news", {
                    "allowed": ["news-carousel-local-news"]
                }) }}
            </div>
        </div>
        {{ pimcore_inc('/snippets/aside') }}
    </div>
    {{ pimcore_areablock("bannerBig2", {
        "allowed": ["random-banner"]
    }) }}
    {{ pimcore_areablock("bottomImageSlider", {
        "allowed": ["image-slider"]
    }) }}

    {{ pimcore_areablock("video") }}

    {{ pimcore_video('campaignVideo', {
        thumbnail: "tst",
        width: 400
    }) }}

</div>
{% endblock %}