{% extends 'layout.html.twig' %}
{% block content %}
<div class="main-content all-testimonials" id="all-testimonials">
    <div class="filters-container">
        <div class="filters-title">
            <h4>Select categories:</h4>
        </div>
        <div class="filters">
            {% for key, category in categoriesData %}
            <label class="checkbox">
                <span class="checkbox-input">
                    <input class="input" type="checkbox" name="{{ category|lower }}" id="{{ category|lower }}" value={{ key }} {% if key in filterCategories %}checked{% endif %}>
                    <span class="checkbox-control">
                        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden="true" focusable="false">
                        <path fill='none' stroke='currentColor' stroke-width='3' d='M1.73 12.91l6.37 6.37L22.79 4.59' /></svg>
                    </span>
                </span>
                <span class="radio-label">{{ category }}</span>
            </label>
            {% endfor %}
        </div>
    </div>
    <div class="page-list">
        <div class="testimonials-list list-of-testimonials">
            {% for testemonial in videoTestimonials %}
            <div class="video-testimonial">
                <p>{{ testemonial['description']|truncate(35, '...') }}</p>
                <div class="video">
                    <video muted loop playsinline class="testimonial-video" id="{{ loop.index }}">
                        <source src="{{ testemonial['video']|raw }}">
                    </video>
                    <div class="duration">
                        {% set time = testemonial['video_settings'].duration|round(0, 'floor')|number_format(0, '.')  %}
                        {% if testemonial['video_settings'].duration|round(0, 'floor') >= 60 %}
                            {{ time|date('G:s') }}
                        {% else %}
                            {{ time|date('G:s', '+00:00 GMT') }}
                        {% endif %}
                    </div>
                    <div class="buttons">
                        <button class="video-play-button" data-open-index={{ loop.index - 1 }}>
                            <span class="fa-stack" style="vertical-align: top;">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fal fa-play-circle fa-stack-1x"></i>
                            </span>
                        </button>
                    </div>
                    <div class="about">
                        <img src="{{ testemonial['author_image'] }}" alt="Author image" />
                        <div class="author-info">
                            <div class="name">
                                <span>Answered by:</span>
                                {{ testemonial['author_name'] }}
                            </div>
                            <div class="job-title">{{ testemonial['author_job_position'] }}</div>
                        </div>
                    </div>
                </div>
                <ul class="testimonial-categories">
                    {% for category in testemonial['categories'] %}
                        <li><a href="{{category['link']}}">{{category['title']}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <div class="pages">
            {% for i in range(1, numberOfPages) %}
                <button class="page-button {% if i == 1 %}active{% endif %}" data-page-number={{ i }}>{{ i }}</button>
            {% endfor %}
        </div>
    </div>
    <div class="testemonial-modals">
        {% for testemonial in videoTestimonials  %}
        <div class="video-testimonial-modal out" data-index={{ loop.index - 1 }}>
            <div class="modal-content {% if testemonial['is_video_vertical'] %}height{% else %}width{% endif %}">
                <button class="close modal-close" data-index={{ loop.index - 1 }}><i class="material-icons">close</i></button>
                <h3 class="description">
                    {{ testemonial['description'] }}
                </h3>
                <div class="content">
                    <video controls disablepictureinpicture controlsList="nodownload" class="modal-video">
                        <source src="{{ testemonial['video']|raw }}">
                    </video>
                </div>
                <div class="author">
                    <img src="{{ testemonial['author_image'] }}" alt="Author image" />
                    <div class="author-info">
                        <div class="name">
                            {{ testemonial['author_name'] }}
                            {{ testemonial['author_surname'] }}
                        </div>
                        <div class="job-title">{{ testemonial['author_job_position'] }}</div>
                    </div>
                </div>
                <div class="modal-tags">
                {% for category in testemonial['categories'] %}
                    <a class="tag-pill" href="{{ category['link'] }}">{{ category['title'] }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}